

<ion-content>
  <div class="container">
    <h2>Hola</h2>
    <h2>Miguel Corma</h2>
  </div>
  <div class="container">
    <ion-card class="container">
      <ion-select aria-label="Fruit" 
                  interface="popover" 
                  placeholder="Selecciona tu Carrera"
                  (ionChange)="handleChange($event)"
                  (ionCancel)="handleCancel()"
                  (ionDismiss)="handleDismiss()">
        <ion-select-option *ngFor="let item of facultades" [value]="item" class="centered-text">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-card>

    <ion-card  *ngIf="verCarreras">
      <ion-select aria-label="Fruit" 
                  interface="popover" 
                  placeholder="Selecciona tu Carrera"
                  (ionChange)="goToHome()"
                  (ionCancel)="handleCancel()"
                  (ionDismiss)="handleDismiss()">
        <ion-select-option *ngFor="let item of carreras" [value]="item" class="centered-text">{{ item }}</ion-select-option>
      </ion-select>
    </ion-card>
    <div *ngIf="mostrarBtn">
      <ion-button [routerLink]="'/home'">ingresar</ion-button>
    </div>
  </div>
  
  
</ion-content>
